body {
	background-color: #d9dce0;
}
h3 {
	text-align: center;
	font-size: 30px;
};
* {
	box-sizing: border-box;
}

/* Adding styling the the containers */
.spells-container, .statuses-container, .attacks-equipment-and-money-container,
.inventory-container, .combat-stats-container {
	border-style: solid;
	margin-bottom: 20px;
	background-color: white;
}


.statuses-container, .combat-stats-container {
	height: 700px;
};

#stuff {
}


/* Aligning the containers on the page */
.page-blocking-left, .page-blocking-center, .page-blocking-right{
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    width: 31%
}

/* Adding some spacing for the text in all the content sections */
.content div, .content button, .content input, .content label {
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 10px;
}

.inventory-container,.spells-container, .attacks-equipment-and-money-container {
	height: 105vh;
}

/* Aligning the content text */
.content-blocking-left, .content-blocking-right{
	display: inline-block;
    vertical-align: top;
    width: 40%;
}

/*table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    align-self: ;
    width: 92%;
}

td, th {
    border: 1px solid #d9dce0;
    text-align: left;
    padding: 8px;
}*/
